

body {
    background-color: #050210;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

@keyframes drehen {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes pulsieren {

        0% { transform: scale(1.1, 1.1); }
        50% { transform: scale(0); }
        100% { transform: scale(1.1); }
      
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    filter: blur(3px);
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    animation: drehen 3s infinite linear;
    box-shadow: 0 0 20px;

 
}
.main span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#fb5dad, #55fb9f, #b97aff);
    border-radius: 50%;
}
.main span:nth-child(1){
    filter: blur(5px);
}
.main span:nth-child(2){
    filter: blur(10px);
}
.main span:nth-child(3){
    filter: blur(20px);
}
.main span:nth-child(4){
    filter: blur(40px);
}
.main::before{
    content: "";
    z-index: 10;
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background: radial-gradient(#050210,rgb(14, 13, 13));
    animation: pulsieren 3s infinite linear;
    

}
.main::after{
    content: "";
    background-color: black;
    position: absolute;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

}    
   